.button{
    -fx-background-color: #f07d33;
    -fx-border-color: derive(#2fd179, -30%);
    -fx-border-width: 0.2px;
    -fx-font-size: 20pt;
    -fx-font-family: "Gloucester MT Extra Condensed"
}

.button:hover{
    -fx-background-color: derive(#eab676, -20%);
    -fx-font-size: 22pt;
}

.button:hover{
    -fx-text-fill: whitesmoke;
}

.text-field{
    -fx-background-color: #E1E1E1;
}